#root {
  text-align: center;
  height: 100vh!important;
  width: 100vw;
}

.tooltip {	
  position: absolute;
  z-index: 10;
  opacity: 1!important;			
  text-align: center;			
  width: auto;		
  max-width: 50vw;			
  height: auto;					
  padding: 10px;				
  font: 12px sans-serif;		
  background: rgb(172, 173, 173);	
  border: 0px;		
  border-radius: 8px;			
  pointer-events: none;	
  font-size: .7em!important;		
}

.chakra-select, option{
  /* width: !important; */
  height: auto!important;
  font-size: 1em!important;
  /* padding: .1em!important;
  margin: .5em!important; */
}

.d3-component{
  height: 100%!important;
  width: 100%!important;
  margin: 0px!important;
  margin-top: 2px;
  padding: 0px;
  background-color: white;
  transform-origin: 0, 0;
  overflow-y: visible!important;
}

.chakra-button{
  height: 1.5em!important;
  font-size: 1em!important;
}


.spinner{
  height: min(50%,50px)!important;
  width: min(50%,50px)!important;
  margin-left: calc(50% - 25px)!important;
}

.fillSpace{
  height: 100%!important;
  width: 100%!important;
}

.fillHeight{
  height: 100%;
}

.fillWidth{
  width: 100%;
}

.centerText{
  justify-content: center!important;
  text-align: center!important;
  width: 100% !important;

}

.lightGutter {
  margin: .2em!important;
  padding: .1em!important;
}
.noGutter, .noGutter > *{
  margin: 0px!important;
  padding: 0px!important;
}

.scroll{
  overflow-y: scroll;
}

.shadow{
  box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.25);
}

.rounded, .shadow, .shadow >* {
  border-radius: 1em!important;
}

.legendText{
  font-size: 1em!important;
  font-family: georgia!important;
}

.autoSize{
  height: auto!important;
  width: auto!important;
}